Package: com.batues.biolock
Name: BioLock
Version: 1.2.0
Architecture: iphoneos-arm
Description: app locker with Face ID/Touch ID support for iOS 15+
Homepage: https://github.com/BatuBey5G/BioLock
Maintainer: Batu <sbatuemir@gmail.com>
Author: Batu <sbatuemir@gmail.com>
Section: Tweaks
Depends: firmware (>= 15.0), mobilesubstrate (>= 0.9.5000), preferenceloader, com.opa334.altlist (>= 1.0.4)
Icon: file:///var/jb/Library/PreferenceBundles/biolockprefs.bundle/BioLockIcon.png
