Package: com.batues.biolock
Name: BioLock
Version: 1.3.0
Architecture: iphoneos-arm64
Description: Face ID/Touch ID/passcode app locker for iOS 15+ rootless jailbreak (Dopamine)
Homepage: https://github.com/chqchshj/BioLock
Maintainer: chqchshj
Author: Batu <sbatuemir@gmail.com> (original), chqchshj (fork)
Section: Tweaks
Depends: firmware (>= 15.0), mobilesubstrate (>= 0.9.5000), preferenceloader
Icon: file:///var/jb/Library/PreferenceBundles/biolockprefs.bundle/BioLockIcon.png
